<template lang="pug">
  div(id="app")
    div.header
      div.header-left
        span(@click="changeAction('#/')")
          i.fas.fa-home.icon-green
          |  NAL - Vocabulary
      div.header-right
        span(@click="changeAction('#/add-word')")
          i.fas.fa-plus.icon-green
          |  Add new word
    router-view
</template>

<script>
export default {
  name: 'App',
  methods: {
    changeAction(url) {
      window.location.href = url;
    }
  }
}
</script>

<style lang="scss">
  @import '/assets/fonts/fontawesome/css/all.min.css';

  body {
    margin: 0;
  }

  .wrapper {
    width: 300px;
    margin: 0 auto;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  .header {
    padding: 10px;
    border-bottom: 1px solid #EEE;
    display: flex;
    justify-content: space-between;

    span {
      cursor: pointer;
    }
  }

  .icon-green {
    color: #5FB860;
  }

  @media only screen and (max-width: 600px) {
    .wrapper {
      width: 90%;
    }
  }
</style>
