<template lang="pug">
  .wrapper
    h3.title Add new word
    form(action='#' method='get' onSubmit='return false')
      label(for='en') English
      input(id='en', type='text', placeholder='Enter English', :value='data.en', @input='data.en = $event.target.value', autocomplete='off')
      label(for='vi') Vietnamese
      input(id='vi', type='text', placeholder='Enter Vietnamese', :value='data.vi', @input='data.vi = $event.target.value', autocomplete='off')
      button.btn-addLang(@click='addLang') Add
    h4.wordList-title Word list
    p.wordList-empty(v-if='wordList.length === 0')
      | This list is empty
    .wordList-content(v-else)
      .wordList-item(v-for='item, index in wordList')
        .wordList-item-word
          p.wordList-item-en {{ item.en }}
          p.wordList-item-vi {{ item.vi }}
        .wordList-item-btn
          button.wordList-item-btn--delete(@click='removeItem(index)') Delete
</template>

<script>
export default {
  data () {
    return {
      data: {
        en: '',
        vi: ''
      },
      wordList: JSON.parse(localStorage.getItem('data')) || []
    }
  },
  methods: {
    addLang() {
      console.log(this.data.en, this.data.vi)
      if(this.data.en === '' || this.data.vi === '') {
        return false;
      }

      this.wordList.push({
        en: this.data.en,
        vi: this.data.vi
      })

      this.data = {}

      this.updateStorage();
    },
    updateStorage() {
      localStorage.setItem('data', JSON.stringify(this.wordList));
    },
    removeItem(index) {
      if (this.wordList.length === 0) {
        return false;
      }

      // Remove in array
      this.wordList.splice(index, 1);

      // Update localstorage
      this.updateStorage();
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/scss/AddWord'
</style>
