<template lang="pug">
  .wrapper
    h3.choose-lang-title Please choose a language to start
    .choose-lang-content
      button.choose-lang-btn.choose-lang-btn--en(@click='changeAction("#/test/en")') ENGLISH
      button.choose-lang-btn.choose-lang-btn--vi(@click='changeAction("#/test/vi")') VIETNAMESE
</template>

<script>
export default {
  data () {
    return {
      wordList: JSON.parse(localStorage.getItem('data')) || []
    }
  },
  methods: {
    changeAction(url) {
      if(this.wordList.length === 0) {
        if(window.confirm('List word is empty. Do you want add word?')) {
          window.location.href = '#/add-word';
        }
        return false;
      }
      window.location.href = url;
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/scss/Home'
</style>
