<template lang="pug">
  .wrapper
    .word
      span {{word}}
    .test-content
      button.test-content-btn.test-content-btn--result(@click='result') {{strings[lang].result}}
      button.test-content-btn.test-content-btn--next(@click='next()') {{strings[lang].next}}
    .time
      p {{strings[lang].time}}
      span {{time}}
</template>

<script>
export default {
  data () {
    return {
      word: '-',
      rand: 0,
      time: 10,
      wordList: JSON.parse(localStorage.getItem('data')) || [],
      timeCount: null,
      lang: this.$route.params.lang,
      langResult: {
        vi: 'en',
        en: 'vi'
      },
      strings: {
        en: {
          result: 'Result',
          next: 'Next',
          time: 'Time'
        },
        vi: {
          result: 'Kết quả',
          next: 'Kế tiếp',
          time: 'Thời gian'
        }
      }
    }
  },
  created() {
    this.next()
  },
  methods: {
    randInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1) + min);
    },
    next() {
      clearInterval(this.timeCount);
      this.time = 10;
      this.rand = this.randInt(0, this.wordList.length - 1);
      this.word = this.wordList[this.rand][this.lang]
      this.timeCount = setInterval(() => {
        this.time--;
        if(this.time < 0) {
          clearInterval(this.timeCount);
          this.next();
        }
      }, 1000)
    },
    result() {
      clearInterval(this.timeCount);
      this.word = this.wordList[this.rand][this.langResult[this.lang]]
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/scss/Test'
</style>
