label, input {
  display: block;
  margin-bottom: 10px;
}

input[type=text] {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #CCC;
  padding: 10px;
  box-sizing: border-box;
  outline: 0;
}

.btn-addLang {
  width: 100%;
  padding: 10px;
  color: #FFF;
  border-radius: 5px;
  background-color: #1D7EFB;
  cursor: pointer;
  outline: 0;
  display: block;

  &:hover {
    opacity: 0.8;
  }
}

.wordList-title, .wordList-empty {
  text-align: center;
}

.wordList-title {
  margin: 30px 10px 10px;
}

.wordList-empty {
  color: #CCC;
  margin: 0;
}

.wordList-item {
  display: flex;
  padding: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
  }

  & p {
    margin: 0 0 5px;
  }
}

.wordList-item-word {
  flex-grow: 1;
  padding: 10px 10px 10px 0;
}

.wordList-item-btn {
  display: flex;
  align-items: center;

  &--delete {
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    max-height: 36px;
    background-color: #DA3648;
    color: #FFF;
    border: 1px solid #DB3749;
    padding: 10px 20px;

    &:hover {
      opacity: 0.8;
    }
  }
}