.choose-lang-title {
  text-align: center;
  font-weight: normal;
}

.choose-lang-content {
  text-align: center;
}

.choose-lang-btn {
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #FFF;
  outline: 0;
  cursor: pointer;
  min-width: 120px;

  &:hover {
    opacity: 0.8;
  }

  &--en {
    margin: 0 2px 0 0;
    border: 1px solid #1B77D5;
    background-color: #1b77d5;
  }

  &--vi {
    margin: 0 0 0 2px;
    border: 1px solid #5FB860;
    background-color: #5FB860;
  }
}