.word {
  text-align: center;
  margin: 30px 0;

  span {
    font-size: 40px;
  }
}

.test-content {
  text-align: center;

  &-btn {
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFF;
    outline: 0;
    cursor: pointer;
    min-width: 120px;
  
    &:hover {
      opacity: 0.8;
    }
  
    &--result {
      margin: 0 2px 0 0;
      border: 1px solid #5FC0DD;
      background-color: #5FC0DD;
    }
  
    &--next {
      margin: 0 0 0 2px;
      border: 1px solid #5FB860;
      background-color: #5FB860;
    }
  }
}

.time {
  text-align: center;

  span {
    font-size: 30px;
    color: #83C784;
  }
}