* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

html, body {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1231px;
  margin: auto;
  display: flex;
  height: 100%;
}

.content {
  flex: 9;
  border-right: 1px solid #CCC;
}

.content-slider {
  flex: 1;
  padding: 20px 50px;
}

.content-slider-img {
  overflow: hidden;
  margin-bottom: 20px;
}

.content-slider-img img {
  object-fit: cover;
  transform: scale(1.3);
}

.content-slider-title {
  margin: 0 0 20px;
  color: #666;
  font-weight: normal;
}

.content-slider-indicator {
  text-align: right;
}

.indicator {
  margin: 3px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #E0E0E0;
}

.indicator.is-active {
  background-color: #AAA542;
}

.sidebar {
  flex: 4;
}

.sidebar-logo {
  padding: 30px;
  text-align: center;
}

.sidebar-list-item {
  padding: 20px;
  display: table;
}

.sidebar-list-item:hover {
  background-color: #EEE;
  cursor: pointer;
}

.sidebar-list-item-img {
  display: table-cell;
  max-width: 80px;
  max-height: 80px;
  vertical-align: top;
}

.sidebar-list-item-img img {
  object-fit: cover;
}

.sidebar-list-item-content {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}

.sidebar-list-item-title {
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 16px;
  color: #B0AB4A;
}

.sidebar-list-item-description {
  margin: 0;
  font-size: 14px;
}

.sidebar-list-viewMore {
  text-align: right;
  margin: 0 20px;
  padding: 10px;
  border-right: 3px solid #968F00;
}

.sidebar-list-viewMore>a {
  font-weight: bold;
  color: #666;
}

.sidebar-list-viewMore>a:hover {
  color: #968F00;
}

.header {
  background-color: #FFF;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 20px 20px;
}

.header-mb {
  background-color: #FFF;
  display: none;
  flex: 1;
  justify-content: space-between;
  padding: 20px 10px;
}

.content-slider {
  display: block;
}

.header-left, .header-right {
  display: flex;
  flex-direction: row;
}

.header-logo div {
  text-align: center;
  font-weight: bold;
  color: #AAA;
}

.header-logo div:first-child {
  margin-bottom: 10px;
}

.header-btn {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #666;
  margin: 2px;
}

.header-btn:hover, .header-btn.is-active {
  color: #CCC686;
  outline: 1px solid #CCC686;
}

.header-btn.is-active:hover {
  color: #666;
  outline: 1px solid #666;
}

.modal {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow: hidden;
  transition: 0.5s;
}

.modal.is-active {
  height: 100%;
}

.modal-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.modal a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
}

.modal a:hover {
  color: #968F00;
}

.modal a.is-active {
  color: #968F00;
}

.modal a.is-active:hover {
  color: #818181;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
}

.modal-open-btn {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #666;
  margin: 2px;
}

.modal-open-btn i:hover {
  color: #968F00;
}

.icon-close {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

@media only screen and (min-width:769px) and (max-width:1230px) {
  .sidebar-list-item {
    width: 100%;
  }
}

@media only screen and (max-width:1230px) {
  html, body {
    overflow: auto;
  }

  .wrapper {
    display: block;
    width: 100%;
  }

  .header {
    display: none;
  }

  .header-mb {
    display: flex;
  }

  .content-slider {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sidebar {
    padding-bottom: 20px;
  }

  .sidebar-logo {
    background-color: #EEE;
  }

  .header-logo img {
    width: 45px;
    height: 25px;
  }

  .header-logo div {
    font-size: 12px;
  }
}